[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cadence = {file = ".", editable = true}
numpy = "<2.0"
pandas = "*"
pyarrow = "*"
fastparquet = "*"
openpyxl = "*"
timeboard = "*"
holidays = "*"
faker = "*"

[dev-packages]
jupyterlab = "*"
ipywidgets = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.8"
